* {
  margin: 0;
  padding: 0;
}
.Toastify__toast-theme--dark.Toastify__toast--success {
  background-color: rgb(87, 17, 89) !important;
  color: white !important;
}

.header-link {
  text-decoration: none;
  margin-left: 1rem;
  color: rgb(18, 17, 17);
  width: 2rem;
  padding: 0.2rem;
  border-radius: 0.3rem;
}

.header-link:active {
  color: rgb(71, 69, 69);
  border: 3px solid red;
}
