* {
  margin: 0;
  padding: 0;
}

.textArea {
  width: 100%;
  resize: none;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  overflow-y: hidden;
  min-height: 4rem;
  background-color: transparent;
  color: #3E3A3A;
  margin-top: 10px;
  border: 1px solid #E2DFDF;
  outline: none;
}

.board-drawer-textarea {
  resize: none;
  width: 80%;
  background-color: transparent;
  text-align: start;
  padding: 0.5rem;
  font-size: 1.2rem;
  border-radius: 0.3rem;
  /* height: 1rem; */
  color: rgb(18, 17, 17);
}

.board-drawer-textarea:focus {
  outline: none;
  border: 2px solid rgb(166, 159, 243);
}

.textarea-column {
  resize: none;
  padding: 0.1rem;
  background-color: transparent;
  color: #3E3A3A;
}

.editable-content {
  width: 100%;
  height: 100%;
  outline: none;
  margin-left: -3rem;
}
.black {
  background-color: #353535 !important;
}

/**
TINY MCE
**/
/* toolbar */
.mce-toolbar-grp {
  background-color: #353535 !important; /* uses !important or override .mce-panel background-color/image */
  background-image: none !important;
}

/*
  background color tiny MCE
*/
.mce-content-body, #tinymce{
  background-color: red !important;
}

/* Adding border over tiny mce*/
.tox-editor-container{
  border: 1px solid #424244 !important;
  border-radius: .3rem;
  margin-top: 1.5rem !important;
  height: 20rem !important; /* to remove the footer of tinyMCE */
}

/* button background color */
.mce-btn button {
  background-color: #353535;
}

.mce-content-body {
  background: #474f52;
}

.tox-toolbar {
  background-color: #353535 !important;
}
.tox:not(.tox-tinymce-inline) .tox-editor-header {
  background-color: #353535 !important;
}
.tox .tox-toolbar-overlord {
  background-color: #353535 !important;
}
.tox .tox-toolbar,
.tox .tox-toolbar__overflow,
.tox .tox-toolbar__primary {
  background-color: #353535 !important;
}
.tox .tox-tbtn svg {
  color: white !important;
  fill: #f7f7f7 !important;
}
.tox-tinymce {
  border: none !important;
  position: relative;
}

.tox-collection__item-label h1,
.tox-collection__item-label h2,
.tox-collection__item-label h3,
.tox-collection__item-label h4,
.tox-collection__item-label h5,
.tox-collection__item-label h6,
.tox-collection__item-label pre,
.tox-collection__item-label p {
  background-color: white !important;
  color: #353535 !important;
}

/* EDITOR.JS */
.ce-block__content {
  max-width: none !important;
  width: 100% !important;
}

.ce-block__content div img {
  width: 100% !important;
}
.ce-block__content .image-tool {
  max-width: 650px !important;
  margin: auto;
}

.ce-block__content .image-tool--stretched.image-tool {
  width: 100% !important;
  max-width: 100% !important;
}

.ce-inline-toolbar__dropdown-content svg,
.ce-inline-tool svg,
.ce-inline-toolbar__dropdown-arrow svg {
  color: black !important;
}

.ce-conversion-tool, .ce-conversion-tool--focused,.ce-conversion-tool{
  color: black;
}

.cdx-checklist__item-text{
  line-break: anywhere;
}
.ce-toolbar__plus svg, .ce-toolbar__settings-btn svg {
  color: white;
}
.ce-toolbar__plus:hover  {
background-color: black;
}
.ce-toolbar__content {
  max-width: 100% !important;
}
.codex-editor--narrow .ce-toolbar__actions {
  right: none !important;
}
::-moz-selection { /* Code for Firefox */
  color: white;
  background: #0046AF !important;
}
.tc-popover {
  --color-border: black;
  --color-background: black;
  --color-background-hover: black;
  --color-background-confirm: #e24a4a;
  --color-background-confirm-hover: #d54040;
  --color-text-confirm: black;
  background: var(--color-background);
  border: 1px solid var(--color-border);
  box-shadow: 0 3px 15px -3px rgba(13,20,33,.13);
  border-radius: 6px;
  padding: 6px;
  /* display: none; */
  will-change: opacity,transform;
}
::selection {
  color: white;
  background: #0046AF !important;
}
.cdx-block.ce-code textarea{
  background-color: #32383A !important;
  color: white!important;
}

/* .box-shadow{
  box-shadow: 0px 0px 1px 0px #0000001e;
} */