* {
  margin: 0;
  padding: 0;
}
.Toastify__toast-theme--dark.Toastify__toast--success {
  background-color: rgb(87, 17, 89) !important;
  color: white !important;
}

.box {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.865983893557423) 5%,
    rgba(208, 208, 208, 0.31976540616246496) 95%
  );
}
.textArea {
  width: 100%;
  resize: none;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  overflow-y: hidden;
  min-height: 4rem;
}

.box {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.865983893557423) 5%,
    rgba(208, 208, 208, 0.31976540616246496) 95%
  );
}
.textArea:focus {
  outline: none;
  border: 1px solid rgb(87, 17, 89);
}
.board-drawer-textarea {
  resize: none;
  width: 80%;
  background-color: transparent;
  text-align: start;
  padding: 0.5rem;
  font-size: 1.2rem;
  border-radius: 0.3rem;
  /* height: 1rem; */
  color: rgb(18, 17, 17);
}

.board-drawer-textarea:focus {
  outline: none;
  border: 2px solid rgb(87, 17, 89);
}

.textarea-col {
  resize: none;
  padding: 0.1rem;
}
